fastapi>=0.110,<1
uvicorn[standard]>=0.29,<1
python-multipart>=0.0.9,<1
requests>=2.31,<3
beautifulsoup4>=4.12,<5
pyzstd>=0.15,<1
cloudinary>=1.44,<2
colorama>=0.4,<1
lz4>=4.3,<5
brotli>=1.1,<2
pycryptodome>=3.20,<4
sm4>=1.0,<2
pillow>=10,<12
